includes:
	- ../vendor/phpstan/phpstan-symfony/extension.neon
	- ../vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../var/*
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../public/*
        - %rootDir%/../../../config/migrations/*
    symfony:
        container_xml_path: %rootDir%/../../../var/containerDump/appDevDebugProjectContainer.xml
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Function locale_accept_from_http not found.#' ## MacOS :(
        - '#PHPDoc tag @throws with type [a-zA-Z0-9|\\_]+ is not subtype of Throwable#'
        - '#Strict comparison using === between 0 and 1|2|3 will always evaluate to false. #'
        - '#Service "translator" is not registered in the container.#'
        - '#Call to an undefined method object::setLocale\(\).#'
        - '#Call to an undefined method object::getAdapter\(\).#'
        - '#Service "knp_paginator" is not registered in the container#'
        - '#Service "cache.app" is not registered in the container#'
        - '#Possibly invalid array key type array|string|null#' ## https://github.com/phpstan/phpstan/issues/1932
        - '#Consider adding something like array<Foo> to the PHPDoc.#'
